.metadata
bin/
classes/
src/main/generated/

#generated web-inf folder, webapp should be placed in src/main/webapp
WEB-INF/

#exclude test report directories
!build/
build/*
!build/reports/
#!build/libs/

tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
#.recommenders

# Eclipse Core
.project

#Gradle
.gradle

# External tool builders
#.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


#java files
*.class

*.log
*/userlogs/**
**/*.log.*

RemoteSystemsTempFiles/*
**/*.prefs
Server1/**

/.gradle/

# Spring local properties
**/application-boot.*

# application logs
logs/*

#JRebel
rebel.xml

*.p12
**/SDMServiceRestClient*.*
**/dependencies*.zip
libs/dependencies*/*

issp-credentials.properties
.apt_generated

client/issp-rest-client/src/main/resources/issp-client.properties
**/deps/**
/build/

# idea
.cache-main
.cache-tests
.idea/


#mac
.DS_Store

*.iml

out/**
.sts4-cache/
